html, body {
    color: white;
    align-items: center;
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
  }

.row {
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    position: relative;
    overflow-y: visible;
}

.columntext {
    padding-top: 2rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    max-width: 75vmin;
}

.row h1 {
    font-size: 7vmin;
}

.row p {
    font-size: 4vmin;
}

.row a {
    font-size: 3vmin;
}

#c {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .diagram {
    display: inline-block;
    width: 5em;
    height: 3em;
  }
  .left {
    float: left;
    margin-right: .25em;
  }
  .right {
    float: right;
    margin-left: .25em;
  }
  /* p {
    margin: 1em auto;
    max-width: 500px;
    font-size: xx-large;
  } */
  
  .row span {
    width: 30vmin;
    height: 30vmin;
    min-width: 90px;
    min-height: 110px;
    max-width: 300px;
    max-height: 270px;
    padding: 2rem 2rem;
  }
