<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/globe.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Information - MILMUNC I</title>
    <link href="../css/root.css" rel="stylesheet">
    <link href="../css/information.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar">
        <div class="brand-title"><a href="/"><h1>MILMUNC I</h1></a></div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="/views/committees.html">committees</a></li>
            <li><a href="/views/registration.html">registration</a></li>
            <li><a href="/views/information.html">information</a></li>
          </ul>
        </div>
      </nav>


      <canvas id="c"></canvas>

      <div class="header-link"><h1>Important Links:</h1><a href="https://bit.ly/3Ryu7xQ"><h1>Delegation Matrix</h1></a><a href="https://docs.google.com/spreadsheets/d/1HQyOSBWf5ViHTMPNBIVf5WbIsfZYgPnIJa6hNYNWn88/edit?usp=share_link"><h1>Schedule</h1></a></div>

      <div class="row">
        <div class="columntext">
            <h1>Rules/Guidelines</h1>
            <p>MILMUNC is a tech-friendly conference. Please remember to dress professionally (cultural attire is apprpriate and encouraged).</p>
            <a href="#linktoofficialdoc">official guidelines document</a>
        </div>
        <span id="rules"></span>
      </div>

      <div class="row">
        <span id="box"></span>
        <div class="columntext">
            <h1>Location</h1>
            <p>13025 Birmingham Hwy, Milton, GA 30004</p>
            <a href="#linktogooglemaps">Location</a>
        </div>
      </div>

      <div class="row">
        <div class="columntext">
            <h1>Awards</h1>
            <p>(1) - Best Delegate</p>
            <p>(2) - Oustanding Delegate</p>
            <p>(1) - Honorable Mention</p>
            <p>(1) - Best Delegation</p>
        </div>
        <span id="pyramid"></span>
      </div>

      <div class="row">
        <span id="ga3"></span>
        <div class="columntext">
            <h1>Food</h1>
            <p>A pizza ordering form will be live below when available! Cheese, pepporoni, and other options will be available at $TBD.</p>
            <a href="#pizza">pizza ordering form</a>
        </div>
      </div>

      <div class="row" id="positionpapers">
        <div class="columntext">
            <h1>Position Papers</h1>
            <p>Guidelines to write position papers are available below, with an example paper as well.</p>
            <a href="#linktobg">position paper guidelines</a>
            <a href="#linktobg">Sample Paper</a>
        </div>
        <span id="starwars"></span>
      </div>

      <div class="row" id="contact">
        <span id="contactdesign"></span>
        <div class="columntext">
          <h1>Contact</h1>
          <p>Contact Information for the conference can be found below</p>
          <a href="mailto:ashwinamudaliar@gmail.com">Ashwin Mudaliar</a>
          <a href="mailto:">Heet Shah</a>
          <a href="mailto:">Yousuf Mirza</a>
      </div>
      </div>

      <script  type="importmap">{
        "imports": {
            "three": "https://threejs.org/build/three.module.js"
        }
    }</script><!-- Remove this when import maps will be widely supported -->
    <script async src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>

    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/information.js"></script>
  </body>
</html>