<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/globe.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration - MILMUNC I</title>
    <link href="../css/root.css" rel="stylesheet">
    <link href="../css/registration.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar">
        <div class="brand-title"><a href="/"><h1>MILMUNC I</h1></a></div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="/views/committees.html">committees</a></li>
            <li><a href="/views/registration.html">registration</a></li>
            <li><a href="/views/information.html">information</a></li>
          </ul>
        </div>
      </nav>

    <div class="scream">
      <a><h1>Register Today</h1></a>
      <a><p>Delegation Fee: 70 | Delegate Fee: 5 | Country Fee: 10</p></a>
      <a target="_blank" href="https://forms.gle/21iRvijeicxdvD536"><p>Registration Form</p></a>
      <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSd5253ML90kAH02BTY1slwNLAKysUvORC8tbBHjQN-z-NgXlQ/viewform?usp=sf_link"><p>Individual Registration Form</p></a>
      <a target="_blank" href="#paymentlink"><p>Make a Payment (Not Live)</p></a>
    </div>

    <canvas class="webgl"></canvas>

    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/registration.js"></script>
</body>
</html>